extends layout

include mixins/_removeDialog

block content
  .pure-g.small-form-inner.l-wrap.top-space
    .pure-u-1
      if remove
        +removeDialog(user, "account")
      .text-center
        h1= title
      .login-container
        form.pure-u-1(action=`/account/edit?_csrf=${csrfToken}` method="POST" enctype="multipart/form-data")
          .photo-profile.text-center
            img(src=(user.photo ? `/uploads/${user.photo}` : user.gravatar + '&d=retro') alt="photo de profile")
          .top-space
            label.pure-button.pure-button-primary(for="fileUpload") Représentation visuelle
            input.show-for-sr#fileUpload(type="file" name="photo" accept="image/gif, image/png, image/jpeg")
            .file-upload-filename
          label.top-space(for="name") Identifiant :
          .input-at
            input#name(type="text" name="name" value=`${user.name}` placeholder="Votre nom" required)
            span @
            label#name-error.hidden.unpublished-color
          label.top-space(for="email") E-mail :
          input#email(type="text" name="email" value=`${user.email}` placeholder="Votre e-mail" required)
          button#action-btn.pure-button.success.button.expanded.top-space-40 Enregistrer
      .separator.top-space-40
      .top-space
        a(href="/forgot") Réinitialiser votre mot de passe
      .top-space
        a(href="/account/edit?remove=true") Supprimer votre compte