extends layout

include mixins/_customMapStyle
include mixins/_customMdeStyle
include mixins/_customMapScript
include mixins/_customMdeScript

block customStyle
  +customMapStyle()
  +customMdeStyle()

block content
  //- pre #{h.dump(group)}
  .pure-g
    unless group
      .banner
        h1.banner__head= title
    .pure-u-1.content
      if group
        .pure-u-1.photo-group-event
          //- Logo
          img(src=(group.photo ? `/uploads/${group.photo}` : "/images/default.jpg") alt="Flyer de l'évènement")
        .separator.top-space
      form.pure-u-1(action=`/group/add${group?`/${group._id}`:""}?_csrf=${csrfToken}` method="POST" enctype="multipart/form-data")
        - const savedData = h.store.get("editgroups-form-data")
        - const errorData = h.store.get("form-errors")
        - h.store.remove("form-errors")
        .pure-u-1
          if group
            //- Edit & Archive buttons
            .pure-u-1.text-center.top-space-40
              a(href=`/group/${group.slug}?remove=true` title="Archiver")
                span.icon!= h.icon("archive")
          //- Name
          .pure-u-1.top-space-40
            span.pure-u-2-24.icon!= h.icon("clipboard-pencil")
            input.pure-u-22-24(type="text" placeholder="Nom de votre groupe" name="name" value=`${savedData?savedData.name:(group ? group.name : "")}` class=`${errorData && errorData.includes("name")?"error":""}` required)
          //- Logo input
          .pure-u-1.top-space-40.text-center
            label.pure-button.pure-button-primary(for="fileUpload") Logo du groupe
            input.show-for-sr#fileUpload(type="file" name="photo" accept="image/gif, image/png, image/jpeg")
            .file-upload-filename
          //-.pure-u-1.top-space-40
            .pure-u-1.u-md-1-4
              label.pure-radio(for="association")
                input#association(type="radio" name="type" value="Association" checked="checked")
                | Association
            .pure-u-1.u-md-1-4
              label.pure-radio(for="entreprise")
                input#entreprise(type="radio" name="type" value="Entreprise")
                | Entreprise
            .pure-u-1.u-md-1-4
              label.pure-radio(for="ong")
                input#ong(type="radio" name="type" value="ONG")
                | ONG
            .pure-u-1.u-md-1-4
              label.pure-radio(for="collectivite")
                input#collectivite(type="radio" name="type" value="Collectivité")
                | Collectivité
          //- Description
          .pure-u-1.top-space-40
            label Description du groupe et de vos actions :
          .pure-u-1.top-space
            textarea#md(name="description" value=`${savedData?savedData.description:(group ? group.description : "")}` placeholder="Donnez envie !") #{savedData?savedData.description:(group ? group.description : "")}
          //-.pure-u-1.top-space
            label Où se situe votre siège social ?
            #map.no-events
          //-.pure-u-1
            span.input-group-label: i.fi-marker.size-36
            input.input-group-field#address(type="text" placeholder="Adresse" name="location[address]" value=(group &&group.location && group.location.address))
            input#longitude(type="hidden" name="location[coordinates][0]" value=(group && group.location && group.location.coordinates[0]))
            input#latitude(type="hidden" name="location[coordinates][1]" value=(group && group.location && group.location.coordinates[1]))
          .pure-u-1.top-space-40
            input.pure-button.success.button.expanded(type="submit" value=`${group ? "Valider" : "Créer"}`)

block customScripts
  +customMapScript()
  +customMdeScript()
