extends layout

block content
  .pure-g.small-form-inner.l-wrap.top-space
    .pure-u-1
      .text-center
        h1= title
      .login-container
        form.pure-u-1(action=`/account/edit?_csrf=${csrfToken}` method="POST" enctype="multipart/form-data")
          .photo-profile.text-center
            img(src=(user.photo ? `/uploads/${user.photo}` : user.gravatar + '&d=retro') alt="photo de profile")
          .top-space
            label.pure-button.pure-button-primary(for="fileUpload") Représentation visuelle
            input.show-for-sr#fileUpload(type="file" name="photo" accept="image/gif, image/png, image/jpeg")
            .file-upload-filename
          label.top-space(for="name") Nom de l'organisateur
          input#name(type="text" name="name" value=`${user.name}` required)
          label(for="email") E-mail
          input#email(type="text" name="email" value=`${user.email}` required)
          button.pure-button.success.button.expanded.top-space Enregistrer
