extends layout

include mixins/_customMapStyle
include mixins/_customMapScript
include mixins/_customMdeScript
include mixins/_removeDialog
include mixins/_switchPublishEvent

block customStyle
  +customMapStyle()

block content
  .pure-g
    .pure-u-1.content
      if remove
        +removeDialog(event, "event")
      //- Flyer
      .pure-u-1.photo-orga-event
        img(src=(event.photo ? `/uploads/${event.photo}` : "/images/default.jpg") alt="Flyer de l'évènement")
      .separator.top-space
      //- Name
      .pure-u-1.text-center
        h2= event.name
          span.normaltext &nbsp; par
          a(href=`/organism/${orga.slug}`)= ` ${orga.name}`

        //- Switches, Edit & Archive buttons
      if isOwner
        .pure-u-1.top-space.text-center
          +switchPublishEvent(event)
          br
          a(href=`/events/${event.id}/edit` title="Modifier" style="margin-right: 10px;")
            span.icon!= h.icon("edit")
          a(href=`/event/${event.slug}?remove=true` title="Archiver")
            span.icon!= h.icon("archive")
        //- p Organisateur :
        //-   a(href=`/organism/${orga.slug}`)= ` ${orga.name}`
      //- Description
      .pure-u-1
        //- label Description de l'évènement&nbsp;:
        #md.readonly.top-space #{event.description}
      //- Date && Time
      .u-md-1-2.u-xl-1-2.pure-u-1.l-wrap.top-space-40.text-center
        //- Fuseau horaire
        .pure-u-1.top-space.text-center.normaltext
          .u-sm-1: label= `Fuseau horaire : ${event.timezone}`
        //- Start date && time
        .pure-u-1
          label.pure-u-1-6 Début
          //- .pure-u-1.top-space
          .pure-u-5-12
            span.pure-u-1-4.icon!= h.icon("calendar")
            input.pure-u-3-4#startdate(type="text" readonly)
          .pure-u-5-12
            span.pure-u-1-4.icon!= h.icon("clock")
            input.pure-u-3-4#starttime(type="text" readonly)
        //- End date && time
        .pure-u-1
          label.pure-u-1-6 Fin
          .pure-u-5-12
            span.pure-u-1-4.icon!= h.icon("calendar")
            input.pure-u-3-4#enddate(type="text" readonly)
          .pure-u-5-12
            span.pure-u-1-4.icon!= h.icon("clock")
            input.pure-u-3-4#endtime(type="text" readonly)
          input#event-start(type="hidden" value=`${event.start}`)
          input#event-end(type="hidden" value=`${event.end}`)

        //- ne rien afficher si il n'y a rien dans la liste event.occurring.day
        //- p= `${event.occurring.day}`
        if !(event.occurring.day === undefined || event.occurring.day.length == 0)
          .pure-u-1
            label.pure-u-1= `Récurrence de l'évènement :`
            ul.ul-daysdisabled
            if event.occurring.day.includes("monday")
              li.li-daydisabled
                input(type="checkbox" id="monday" name="occurring[day][]" value="monday" checked disabled)
                label(for="monday") Lundi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="monday" name="occurring[day][]" value="monday" disabled)
                label(for="monday") Lundi &nbsp;

            if event.occurring.day.includes("tuesday")
              li.li-daydisabled
                input(type="checkbox" id="tuesday" name="occurring[day][]" value="tuesday" checked disabled)
                label(for="tuesday") Mardi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="tuesday" name="occurring[day][]" value="tuesday" disabled)
                label(for="tuesday") Mardi &nbsp;

            if event.occurring.day.includes("wednesday")
              li.li-daydisabled
                input(type="checkbox" id="wednesday" name="occurring[day][]" value="wednesday" checked disabled)
                label(for="wednesday") Mercredi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="wednesday" name="occurring[day][]" value="wednesday" disabled)
                label(for="wednesday") Mercredi &nbsp;
            
            if event.occurring.day.includes("thursday")
              li.li-daydisabled
                input(type="checkbox" id="thursday" name="occurring[day][]" value="thursday" checked disabled)
                label(for="thursday") Jeudi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="thursday" name="occurring[day][]" value="thursday" disabled)
                label(for="thursday") Jeudi &nbsp;

            if event.occurring.day.includes("friday")
              li.li-daydisabled
                input(type="checkbox" id="friday" name="occurring[day][]" value="friday" checked disabled)
                label(for="friday") Vendredi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="friday" name="occurring[day][]" value="friday" disabled)
                label(for="friday") Vendredi &nbsp;
            
            if event.occurring.day.includes("saturday")
              li.li-daydisabled
                input(type="checkbox" id="saturday" name="occurring[day][]" value="saturday" checked disabled)
                label(for="saturday") Samedi &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="saturday" name="occurring[day][]" value="saturday" disabled)
                label(for="saturday") Samedi &nbsp;

            if event.occurring.day.includes("sunday")
              li.li-daydisabled
                input(type="checkbox" id="sunday" name="occurring[day][]" value="sunday" checked disabled)
                label(for="sunday") Dimanche &nbsp;
            else
              li.li-daydisabled
                input(type="checkbox" id="sunday" name="occurring[day][]" value="sunday" disabled)
                label(for="sunday") Dimanche &nbsp;
            

          
            


        .pure-u-1.normaltext
          p.text-center= event.location.address
      //- Event location
      .u-md-1-2.u-xl-1-2.pure-u-1
        //- label Le lieu de l'évènement :
        #map.single.readonly.top-space
        //- p.text-center= event.location.address
        input#longitude(type="hidden" value=(event.location && event.location.coordinates[0]))
        input#latitude(type="hidden" value=(event.location && event.location.coordinates[1]))
      //- unless remove
      //-   .pure-u-1.top-space-40
      //-     button.pure-button.success.button.expanded(onClick=`location="/events/${event._id}/edit"`) Modifier

block customScripts
  +customMapScript()
  +customMdeScript()
