<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>event page</title>
		<!-- Foundation -->
		<link rel="stylesheet" href="/stylesheets/foundation.css" />

		<!-- map css -->
		<link rel="stylesheet" href="/stylesheets/map.css" />
		<link href="/stylesheets/ol.css" rel="stylesheet">

		<!-- Font Foundation -->
		<link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
		<!-- JQuery -->
		<!-- <script src="js/vendor/jquery.min.js"></script> -->
		<script src="/js/vendor/jquery.js"></script>
	</head>
	<body>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<% if(user) { %>
				<%- include partials/menu_log.ejs %>
			<% } else { %>
				<%- include partials/menu.ejs %>
			<% } %>
		</div>

		<div class="off-canvas-content" data-off-canvas-content>
		<!-- Contenu de la page -->
			<%- include partials/top-bar.ejs %>

			<div class="row">
				<div class="columns large-3 medium-4">
					<div id="flyer" class="row" style="height: 30vh;">

						<!-- remplacer par flyer -->

					</div>

				</div>

				<div class="columns large-8 medium-8">

					<div class="row">
						<div class="columns large-10 medium-10 small-10" style="text-align: center;">
							<h3 id="name"></h3>
						</div>
						<div class="columns large-2 medium-2 small-2">
							<a class="button fi-pencil" href="/evenement/id/<%= event %>/delete"></a>
						</div>
					</div>

					<div class="row">
						<div class="columns large-6 medium-6">
							<a href="/organisme">Organisme</a>
						</div>
						<div class="columns large-6 medium-6" id="address">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="columns large-4 medium-4 small-4">
							<i class="fi-wheelchair"></i>
							<i class="fi-male-female"></i>
							<i class="fi-rss"></i>
						</div>
						<div class="columns large-4 medium-4 small-4" id="date">
						</div>
					</div>
					<div class="row">
						<div class="column" id="description">
						</div>
					</div>
				</div>

			</div>

			<!-- CONTENANT DE LA MAPS -->
			<div id="map" style="height:64vh;"></div>

		</div> <!-- of canvas content -->
		<script src="/js/foundation.min.js"></script>

		<!-- Map script -->
		<script  type="text/javascript" src="/js/ol/id-map.js"></script>
		<script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
		<script type="text/javascript">
			 PLOTBYID.init(["<%= event %>"]);
			 PLOTBYID.plotEvent();
		</script>

		<script>
			$(document).foundation();
		</script>

	</body>
</html>
