.cell.large-3.medium-4.small-6
  .card
    .card__header
      - const imgSrc = item.photo ? `/uploads/${item.photo}` : `/images/default.jpg`
      img(src=`${imgSrc}`, alt="photo de l'évènement")
    .card-section
      p
        a(href=`/event/${item.slug}`) item.name

//- - const imgSrc = item.photo ? `/uploads/${item.photo}` : `/images/default.jpg`;
//- - let start = formatDateTime(item.start);
//- - let end = formatDateTime(item.end);
//- - start = `${start.date} à ${start.time}`;
//- - end = `${end.date} à ${end.time}`;

//- .card
  .card__header
    img(src=`${imgSrc}` alt="photo évènement")
    .card__header--content
      p
        strong Organisateur :
        a(href=`/group/${item.group.slug}`)= item.group.name
        br
        strong Début :
        = start
        br
        strong Fin :
        = end
        br
        strong Adresse :
        = item.location.address
  .card__section
    p: a(href=`/event/${item.slug}`)= item.name
