extends layout

block style
  link(rel="stylesheet", href="/vendor/foundation.min.css")
  link(rel="stylesheet", href="/vendor/foundation-icons/foundation-icons.css")
  link(rel="stylesheet", href="/vendor/ol.css")
  link(rel="stylesheet", href="/dist/style.css")

//-block content
  .row
    .column
      .columns.large-3.medium-4
        .row#flyer
          img(src=`/uploads/${event.photo}` alt="flyer de l'évènement")
        .row
          h4= event.name
        .row
          h4 Présentation
          p= event.description

block content
  .row
    .column
      .row
        .column.photo-orga-event
          img(src=`/uploads/${event.photo}` alt="Logo de l'évènement")
      .row.top-space.text-center
        h4= event.name
        p Organisateur :
          a(href=`/organism/${orga.slug}`)= ` ${orga.name}`
        //-span#type.label.info: i.fi-torsos-all-female
      .row.top-space.text-center
        p= event.description
      .separator
      .row.top-space
        .column.large-6.large-centered
          label Le lieu de l'évènement :
          #map.no-events.no-click
          p.text-center= event.location.address
      input#longitude(type="hidden" value=(event.location && event.location.coordinates[0]))
      input#latitude(type="hidden" value=(event.location && event.location.coordinates[1]))

block scripts
  script(src="/vendor/jquery.min.js")
  script(src="/vendor/foundation.min.js")
  script(src="/vendor/ol.min.js")
  script(src="/dist/App.bundle.js")
