extends layout

include mixins/_footer

block customStyle
  link(rel="stylesheet", href="/vendor/ol/ol.css")

block content
  .pure-g.content
    .pure-u-1.photo-orga-event
      img(src=`/uploads/${event.photo}` alt="flyer de l'évènement")
    .pure-u-1.top-space.text-center
      h3= event.name
      p Organisateur :
        a(href=`/organism/${orga.slug}`)= ` ${orga.name}`
    .pure-u-1.top-space.text-center
      p= event.description
    .separator
    .pure-u-1.top-space
      .pure-u-1.l-wrap
        .u-sm-1-12: label Début
        .u-sm-5-12.l-content
          span.pure-u-1-8.icon!= h.icon("calendar")
          input.pure-u-7-8#startdate(type="text" readonly)
        .u-sm-5-12.l-content
          span.pure-u-1-8.icon!= h.icon("clock")
          input.pure-u-7-8#starttime(type="text" readonly)
      .pure-u-1.l-wrap
        .u-sm-1-12: label Fin
        .u-sm-5-12.l-content
          span.pure-u-1-8.icon!= h.icon("calendar")
          input.pure-u-7-8#enddate(type="text" readonly)
        .u-sm-5-12.l-content
          span.pure-u-1-8.icon!= h.icon("clock")
          input.pure-u-7-8#endtime(type="text" readonly)
        input#event-start(type="hidden" value=`${event.start}`)
        input#event-end(type="hidden" value=`${event.end}`)
    .separator
    .pure-u-1.top-space
      label Le lieu de l'évènement :
      #map.no-events.readonly
      p.text-center= event.location.address
    input#longitude(type="hidden" value=(event.location && event.location.coordinates[0]))
    input#latitude(type="hidden" value=(event.location && event.location.coordinates[1]))

  +footer()

block customScripts
  script(src="/vendor/ol/ol.min.js")
