extends layout

block style
  link(rel="stylesheet", href="/vendor/foundation.min.css")
  link(rel="stylesheet", href="/vendor/foundation-icons/foundation-icons.css")
  link(rel="stylesheet", href="/vendor/ol.css")
  link(rel="stylesheet", href="/dist/style.css")

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.photo-orga-event
        img(src=`/uploads/${event.photo}` alt="flyer de l'évènement")
    .grid-x.grid-margin-x.top-space
      .cell.text-center
        h4= event.name
        p Organisateur :
          a(href=`/organism/${orga.slug}`)= ` ${orga.name}`
    .grid-x.grid-margin-x.top-space
      .cell.text-center
        p= event.description
    .separator
    .grid-x.grid-margin-x.top-space
      .cell.large-6.large-offset-3
        .grid-x.grid-margin-x
          .cell.large-2.medium-2.small-2: label Début
          .cell.large-6.medium-6.small-6
            .input-group
              span.input-group-label: i.fi-calendar.size-36
              input.input-group-field#startdate(type="text" readonly)
          .cell.large-4.medium-4.small-4
            .input-group
              span.input-group-label: i.fi-clock.size-36
              input.input-group-field#starttime(type="text" readonly)
          .cell.large-2.medium-2.small-2: label Fin
          .cell.large-6.medium-6.small-6
            .input-group
              .input-group-label: i.fi-calendar.size-36
              input.input-group-field#enddate(type="text" readonly)
          .cell.large-4.medium-4.small-4
            .input-group
              span.input-group-label: i.fi-clock.size-36
              input.input-group-field#endtime(type="text" readonly)
          input#event-start(type="hidden" value=`${event.start}`)
          input#event-end(type="hidden" value=`${event.end}`)
    .separator
    .grid-x.grid-margin-x.top-space
      .cell.large-6.large-offset-3
        label Le lieu de l'évènement :
        #map.no-events.readonly
        p.text-center= event.location.address
    input#longitude(type="hidden" value=(event.location && event.location.coordinates[0]))
    input#latitude(type="hidden" value=(event.location && event.location.coordinates[1]))

block scripts
  script(src="/vendor/jquery.min.js")
  script(src="/vendor/foundation.min.js")
  script(src="/vendor/ol.min.js")
  script(src="/dist/App.bundle.js")
