extends layout

include mixins/_customMdeScript
include mixins/_removeDialog
include mixins/_communityList

block content
  .pure-g#top
    .pure-u-1.content
      if remove && isAdmin
        +removeDialog(group, "group")
      //- Logo
      .pure-u-1.photo-group-event
        img(src=(group.photo ? `/uploads/${group.photo}` : "/images/default.jpg") alt="Logo du groupe")
      .separator.top-space
      //- Name
      .pure-u-1.top-space.text-center
        h2= group.name
        if group.type
          p= `(${group.type})`
        if isAdmin
          a(href=`/group/${group.id}/edit` title="Modifier" style="margin-right: 10px;")
            span.icon!= h.icon("edit")
          a(href=`/group/${group.slug}?remove=true` title="Archiver")
            span.icon!= h.icon("archive")
      .pure-u-1.top-space.text-center
        if !inCommunity
          button.pure-button.button.userRequestBtn#userRequest(title="Faire une demande d'adhésion au groupe") Demande d'adhésion
        else if isMember || isAdmin
          button.pure-button.button.userRequestBtn#userQuit(title="Quitter le groupe") Quitter le groupe
        else if isPendingMember
          p(style="color: green;") Votre demande est en cours de traitement.
          button.pure-button.button.userRequestBtn#userRemoveRequest(title="Annuler votre demande d'adhésion au groupe") Annuler votre demande d'adhésion
        else if isDenied
          p(style="color: red;") Vous avez été bloqué.

      //- Description
      .pure-u-1.top-space-40
        label Description&nbsp;:
        #md.readonly.top-space #{group.description}

    .pure-u-1.top-space-40
      .pure-u-1.text-center
        h3 Evènements en cours
          span.eventsCount  (0)
      .pure-u-1.top-space.cardGrid.group-events#events
        p.top-space.text-center Chargement...
      .pure-u-1.l-wrap.top-space#eventsPagination
    if group
      input#group-id(type="hidden" value=`${group._id}`)
      input#group-event-add(type="hidden" value=`${isAdmin}`)

    if inCommunity && !isDenied && !isPendingMember && community
      .pure-u-1.top-space-40.text-center
        h3 La communauté
      .pure-u-1.top-space-40.content#community
        +communityList(community, isAdmin)

block customScripts
  +customMdeScript()
