extends layout

block style
  link(rel="stylesheet", href="/vendor/foundation.min.css")
  link(rel="stylesheet", href="/vendor/foundation-icons/foundation-icons.css")
  link(rel="stylesheet", href="/vendor/ol.css")
  link(rel="stylesheet", href="/dist/style.css")

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.photo-orga-event
        img(src=`/uploads/${orga.photo}` alt="Logo de l'organisme")
    .grid-x.grid-margin-x.top-space
      .cell.text-center
        h4= orga.name
        p= `(${orga.type})`
    .grid-x.grid-margin-x.top-space
      .cell.text-center
        p= orga.description
    .separator
    .grid-x.grid-margin-x.top-space
      .cell.large-6.large-offset-3
        label L'adresse du siège social :
        #map.no-events.no-click
        p.text-center= orga.location.address
    .separator
    .grid-x.grid-margin-x
      .cell.text-center.top-space
        h3 Mes évènements
    .grid-x.top-space.orga-events
      p.cell.top-space.text-center Chargement...
    input#orga-id(type="hidden" value=`${orga._id}`)
    input#longitude(type="hidden" value=(orga.location && orga.location.coordinates[0]))
    input#latitude(type="hidden" value=(orga.location && orga.location.coordinates[1]))

block scripts
  script(src="/vendor/jquery.min.js")
  script(src="/vendor/foundation.min.js")
  script(src="/vendor/ol.min.js")
  script(src="/dist/App.bundle.js")
