extends layout

include mixins/_removeDialog

block customStyle
  //- link(rel="stylesheet", href="/vendor/ol/ol.css")
  link(rel="stylesheet", href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")

block content
  .pure-g#top
    .pure-u-1.content
      if remove
        +removeDialog(orga, "organism")
      //- Logo
      .pure-u-1.photo-orga-event
        img(src=(orga.photo ? `/uploads/${orga.photo}` : "/images/default.jpg") alt="Logo de l'organisme")
      .separator.top-space
      //- Name
      .pure-u-1.top-space.text-center
        h2= orga.name
        if orga.type
          p= `(${orga.type})`
      //- Description
      .pure-u-1.top-space-40
        label Description&nbsp;:
        #md.readonly.top-space #{orga.description}
      //- Location
      //-if orga.location.address
        .pure-u-1.top-space-40
          label L'adresse du siège social :
          #map.no-events.readonly.top-space
          p.text-center= orga.location.address
          input#longitude(type="hidden" value=(orga.location && orga.location.coordinates[0]))
          input#latitude(type="hidden" value=(orga.location && orga.location.coordinates[1]))
    .pure-u-1.top-space-40
      .pure-u-1.text-center
        h3 Evènements en cours
      .pure-u-1.top-space.orga-events#events
        p.top-space.text-center Chargement...
    if orga
      input#orga-id(type="hidden" value=`${orga._id}`)

    if isMember
      .pure-u-1.top-space-40.text-center
        h3 La communauté
      .pure-u-1.top-space-40.content#community
        table#communityTable.display
          thead
            tr
              th Nom
              th Rôle
              if isAdmin
                th Actions
          tbody
            each item in orga.community
              tr(style="cursor: pointer;")
                //- Name
                td(onClick=`location='/account/${item.id}'`) #{item.user.name}
                //- Role
                td
                  if item.role=="admin"
                    strong admin
                  else
                    #{item.role}
                //- Actions
                if isAdmin
                  td

block customScripts
  //- script(src="/vendor/ol/ol.min.js")
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
  script(type="text/javascript").
    $(document).ready(function() {
      $("#communityTable").DataTable();
    });
