extends layout

include mixins/_customMdeScript
include mixins/_removeDialog
include mixins/_communityList

block content
  .pure-g#top
    .pure-u-1.content
      if remove
        +removeDialog(orga, "organism")
      //- Logo
      .pure-u-1.photo-orga-event
        img(src=(orga.photo ? `/uploads/${orga.photo}` : "/images/default.jpg") alt="Logo de l'organisme")
      .separator.top-space
      //- Name
      .pure-u-1.top-space.text-center
        h2= orga.name
        if orga.type
          p= `(${orga.type})`
        if isAdmin
          a(href=`/organisms/${orga.id}/edit` title="Modifier" style="margin-right: 10px;")
            span.icon!= h.icon("edit")
          a(href=`/organism/${orga.slug}?remove=true` title="Archiver")
            span.icon!= h.icon("archive")
      if isNotMember
        .pure-u-1.top-space.text-center
          button.pure-button.button.userRequestBtn#userRequest(title="Pending Request") Pending Request
      //- Description
      .pure-u-1.top-space-40
        label Description&nbsp;:
        #md.readonly.top-space #{orga.description}
      //- Location
      //-if orga.location.address
        .pure-u-1.top-space-40
          label L'adresse du siège social :
          #map.no-events.readonly.top-space
          p.text-center= orga.location.address
          input#longitude(type="hidden" value=(orga.location && orga.location.coordinates[0]))
          input#latitude(type="hidden" value=(orga.location && orga.location.coordinates[1]))
    .pure-u-1.top-space-40
      .pure-u-1.text-center
        h3 Evènements en cours
          span.eventsCount
      .pure-u-1.top-space.cardGrid.orga-events#events
        p.top-space.text-center Chargement...
      .pure-u-1.l-wrap.top-space#eventsPagination
    if orga
      input#orga-id(type="hidden" value=`${orga._id}`)

    if isMember && community
      .pure-u-1.top-space-40.text-center
        h3 La communauté
      .pure-u-1.top-space-40.content#community
        +communityList(community, isAdmin)

block customScripts
  +customMdeScript()
