extends layout

block content
  .pure-g.small-form-inner.l-wrap.top-space
    .pure-u-1
      .text-center
        h1= title
        span.quiet ou
          a(href="/login")  se connecter à votre compte
      .login-container
        form(action="/signup" method="POST")
          - const savedData = h.store.get("signup-form-data")
          - const errorData = h.store.get("form-errors")
          - h.store.remove("form-errors")
          label(for="name") Nom
            span.quiet  (identifiant)
          .input-at
            input#name(type="text" name="name" value=`${savedData?savedData.name:""}` class=`${errorData && errorData.includes("name")?"error":""}` required)
            span @
            label#name-error.hidden.unpublished-color
          label.top-space(for="email") E-mail
          input#email(type="email" name="email" value=`${savedData?savedData.email:""}` class=`${errorData && errorData.includes("email")?"error":""}` required)
          label.top-space(for="password") Mot de passe
          input#password(type="password" name="password" class=`${errorData && errorData.includes("password")?"error":""}` required)
          label.top-space(for="password-confirm") Confirmer mot de passe
          input#password-confirm(type="password" name="password-confirm" class=`${errorData && errorData.includes("password-confirm")?"error":""}` required)
          input(type="hidden" name="_csrf" value=`${csrfToken}`)
          button#action-btn.pure-button.success.expanded.top-space-40 Créer un nouveau compte
          p.quiet En créant un compte, vous acceptez nos
            a(href="/cgu")  Conditions de Service
            |  et notre
            a(href="/privacy")  Politique de Confidentialité
            | .
