<!doctype html>
<html class="no-js" lang="fr">
<<<<<<< HEAD
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liberté Humaine</title>
		<!-- Foundation -->
		<link rel="stylesheet" href="/stylesheets/foundation.css" />
		<!-- Font Foundation -->
		<link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
		<!-- JQuery -->
		<!-- <script src="js/vendor/jquery.min.js"></script> -->
		<script src="/js/vendor/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/hero.css">
	</head>
	<body>

		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
			<% if(user) { %> 
				<%- include partials/menu_log.ejs %> 
			<% } else { %>
				<%- include partials/menu.ejs %>
			<% } %>
		</div> 
		
		<div class="off-canvas-content" data-off-canvas-content>
		<!-- Contenu de la page -->
			<%- include partials/top-bar.ejs %>

			<div class="row">
				<div class="columns large-4">
					<div class="row">
						<div style="background: url('/images/rectangle-1.jpg'); background-size: cover; background-position: center; height: 30vh; text-align: center; display: flex; align-items: center; justify-content: center;">
						</div>
					</div>
				</div>

				<div class="columns large-8">
					<div class="row">
						<div class="row">
							<div class="column" style="text-align: center;">
								<h4>Nom de l'organisme</h4></div>
							</div>
						</div>
						
					<div class="row">
						<div class="columns large-6">
							<div class="input-group">
								<span class="input-group-label">
									<i class="fi-clipboard-pencil size-36"></i>
								</span>
								<label class="input-group-field">Type d'organisme</label>
							</div>
						</div>
						<div class="columns shrink">
							<a class="button success" href="creation_evenement.php">Créer un évènement</a>
							<a class="button warning" href="organisme.php">Modifier vos informations</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column">
					<div class="row">
						<div class="column" style="text-align: center;">
							<h3>Vos évènements</h3>
						</div>
					</div>

					<div class="mobile-app-toggle" data-mobile-app-toggle>
						<button class="button">Passé</button>
						<button class="button is-active">Actuellement</button>
						<button class="button">À venir</button>
					</div>
				</div>
			</div>

			<p><%= userProfil.user %></p>
			<p><%= userProfil.email %></p>

		</div> <!-- end off-cavenas -->

		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
=======
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liberté Humaine</title>
    <!-- Foundation -->
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <!-- Font Foundation -->
    <link href="/foundation-icons/foundation-icons.css" rel="stylesheet">
    <!-- JQuery -->
    <!-- <script src="js/vendor/jquery.min.js"></script> -->
    <script src="/js/vendor/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/hero.css">
  </head>
  <body>

    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <% if(user) { %>
        <%- include partials/menu_log.ejs %>
      <% } else { %>
        <%- include partials/menu.ejs %>
      <% } %>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
    <!-- Contenu de la page -->
      <div class="title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvas"></button>
          <span class="title-bar-title">Menu</span>
        </div>
        <div class="title-bar-title" style="position: absolute; left: 44%;">
          <span class="title-bar-title">EventBook</span>
        </div>
        <div class="title-bar-right">
          <span class="title-bar-title"> <% if(user) { %> Connecté en tant que <%= user %> <% } %></span>
        </div>
      </div>

      <p><%= userProfil.user %></p>
      <p><%= userProfil.email %></p>
      <p><%= userProfil.type %></p>

    </div> <!-- end off-cavenas -->

    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
>>>>>>> 7b481732533fc97c6ef87d4973d5b3e2dddd95e9
