mixin communityList(communityList, isAdmin, showAction=true)
  link(rel="stylesheet", href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
  table#communityTable.display
    thead
      tr
        th Nom
        th Rôle
        if isAdmin && showAction
          th Actions
    tbody
      each member in communityList
        tr(style="cursor: pointer;")
          //- Name
          //- td(onClick=`location='/account/${member._id}'`) #{member.name}
          td #{member.name}
          //- Role
          td.text-center
            if member.role=="admin"
              strong Admin
            else if member.role=="pending_request"
              span(style="color: #adb3b9;") En attente
            else if member.role=="guest"
              span(style="color: #adb3b9;") Invité
            else if member.role=="member"
              | Membre
          //- Actions
          if isAdmin && showAction
            td.text-center
              if member.role=="pending_request"
                button.pure-button.button.adminUserRequestBtn.acceptUserRequest(title="Accepter la demande" data-id=`${member.id}`) Accepter
                button.pure-button.button.adminUserRequestBtn.denyUserRequest(title="Refuser la demande" data-id=`${member.id}`) Refuser
              if member.role=="denied"
                button.pure-button.button.adminUserRequestBtn.grantUserRequest(title="Débloquer" data-id=`${member.id}`) Débloquer
              if member.role=="member"
                button.pure-button.button.adminUserRequestBtn.giveAdminRightRequest(title="Nommer l'administrateur" data-id=`${member.id}`) Donner les droits admin
                button.pure-button.button.adminUserRequestBtn.denyUserRequest(title="Bloquer" data-id=`${member.id}`) Bloquer
              if member.role=="admin"
                button.pure-button.button.adminUserRequestBtn.removeAdminRightRequest(title="Retirer l'administrateur" data-id=`${member.id}`) Retirer les droits admin

          
                

  //- script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  //- script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
  script(src="/vendor/jquery/jquery.min.js")
  script(src="/vendor/jquery/datatables/jquery.datatables.min.js")
  script(type="text/javascript").
    $(document).ready(function() {
      $("#communityTable").dataTable({
        language: {
          processing: "Traitement en cours...",
          search: "Rechercher&nbsp;:",
          lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
          info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
          infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          infoPostFix: "",
          loadingRecords: "Chargement en cours...",
          zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
          emptyTable: "Aucune donnée disponible dans le tableau",
          paginate: {
            first: "Premier",
            previous: "Pr&eacute;c&eacute;dent",
            next: "Suivant",
            last: "Dernier"
          },
          aria: {
            sortAscending: ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
          }
        }
      });
    });
