//- mixin footer(fixed = false)
  div(class=`footer l-box${fixed ? " footer--fixed" : ""}`)
    p
      a(href='/') #{h.siteName}
      |  !{"&copy;"} 2019
mixin footer()
  .footer.l-box
    p
      a(href='/') #{h.siteName}
      |  !{"&copy;"} 2019
